[submodule "PythonEO"]
	path = PythonEO
	url = https://github.com/iblancasa/PythonEO.git
[submodule "BashEO"]
	path = BashEO
	url = https://github.com/iblancasa/BashEO.git
[submodule "JuliEO"]
	path = JuliEO
	url = https://github.com/iblancasa/JuliEO.git
[submodule "goEO"]
	path = goEO
	url = https://github.com/JJ/goEO.git
[submodule "scalEO"]
	path = scalEO
	url = https://github.com/JJ/scalEO.git
[submodule "eo_revival"]
	path = eo_revival
	url = https://github.com/pacastillo/eo_revival.git
[submodule "LunEO"]
	path = LunEO
	url = https://github.com/JJ/LunEO.git
[submodule "nodeo"]
	path = nodeo
	url = https://github.com/JJ/nodeo.git
[submodule "RubyEO"]
	path = RubyEO
	url = https://github.com/analca3/RubyEO.git
